@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* INICIO REGRAS CSS COMUNS À TODOS OS DISPOSITIVOS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

body {
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}
.texto{
  position:static;
  display:flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: -500px;
  width: 1500px;
  font-size: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 5px 5px 10px rgba(16, 1, 146, 0.151);
}

/* INICIO REGRAS CSS DO CONTAINER */
.container {
  display:flex;
  justify-content: left;
  width: 100px;
  margin-top: 60px;
  margin-left: 200px;
  
}


.box{
  max-width: 40vh;
  max-height: 25vh;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  border-radius: 5px;
}

.card {
  background-color: #ffffff;
  padding: 90px;
  border-radius: 2%;
  box-shadow: 3px 3px 10px 0px #0a008f73;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #272262
}


.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position:relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #272262;
  pointer-event: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  width: 180px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #272262;
  color: #fff;
}

.justify-center{
  display:flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

p{
  color: #272262;
  font-size: 14pt;
  text-align: center;
}

a{
  color: #7a3077;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: #272262;
}

.progress-container {
  border-radius: 8px;
  max-width: 30vh;
  max-height: 25vh;  
  margin: 20px;
}

.progress-bar {
  width: 10;
  height: 20px;
  background-color: #797979;
  text-align: center;
  line-height: 20px;
  color: white;
  border-radius: 8px;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

/* FIM DAS REGRAS CSS DO CONTAINER */

/* INICIO REGRAS CSS DO FOOTER E LOGO NASSAU */

#footer_copyright {
  position: fixed;
  display:flex;
  justify-content: center;
  font-size: 15px;
	color: #000000;	
	font-weight: 100px;
  margin-top: 340px;
  margin-left: 750px;
  bottom: 0;
  
  
}
#rodape{
  position: fixed;
  bottom: 0;
  right: 0;
  object-fit: cover;
  
}

 /* Estilos para o botão de abrir o modal */
 .open-modal-button {
  position: absolute;
  background-color: transparent;
  border-color: #272262;
  color: #272262;
  padding: 8px;
  font-weight: bold;
  font-size: 10pt;
  width: 80px;
  border-radius: 50px;
  transition: all .4s ease-out;
  left: 398px;
}

 /* Estilos para o botão de fechar o modal */
 .close-modal-button {
  position: absolute;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-color: #272262;
  color: #272262;
  padding: 8px;
  font-weight: bold;
  font-size: 10pt;
  border-radius: 50px;
  border: 0;
  transition: all .4s ease-out;
  cursor: pointer;
}

.printbtn{
  position: absolute;
  top: 300px;
  background-color: transparent;
  border-color: #272262;
  color: #272262;
  padding: 8px;
  font-weight: bold;
  font-size: 10pt;
  width: 70px;
  border-radius: 10px;
  transition: all .4s ease-out;
  left: 630px;
  cursor: pointer;
}


/* Estilos para o modal (inicialmente oculto) */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Estilos para o conteúdo do modal */
.modal-content {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}


#linha-vertical {
  height: 100px;
  border-left: 1px solid rgb(253, 0, 0);
  
}
#linha-horizontal {
  width: 620px;
  border: 1px solid #000000;
}


/* FIM REGRAS CSS DO FOOTER E LOGO NASSAU */

/* FIM REGRAS CSS COMUNS À TODOS OS DISPOSITIVOS */